<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ standard_header_includes }}
  </head>
  <body>
   {# step 1 use the conditional dynamic_page_hubdb_row to write your markup for the dynamic pages#}
    {% if dynamic_page_hubdb_row %}
      {# step 3 Inside the first conditional loop through the HubDB table and create a listing view #}
      {# step 4 inside the first condtional call your data using dot notation #}
      {# step 5 add the book's title inside an h1 tag and the author's name in a h3 tag #}
      <h1>
        {{ dynamic_page_hubdb_row.name }}  
      </h1>
      <h3>
        {{ dynamic_page_hubdb_row.author }}
      </h3>
  {# step 2 use the conditional dynamic_page_hubdb_table_id #}
    {% elif dynamic_page_hubdb_table_id %}
      {# step 6 inside the second loop through the HubDB data using hubdb_table_rows(). Use the argument table id #}
       {% for row in hubdb_table_rows(5293120)%}

        <h2>
        {# step 7 call book name in a h2 tag add a hyperlink to the dynamic page in a p tag add the book author #}
          <a href="{{ request.path }}/{{ row.hs_path }}">
            {{ row.name }} 
          </a>
        </h2>
        <p>
          {{ row.author }}  
        </p>
        {# step 8 use another for loop through the genre tags and add it to a p tag #}
        {# step 9 use a loop.last to add a commaafter each genre #}
        <em>
          {% for tag in row.genre %}
            {{tag.name}}{% if !loop.last %}, {% endif %}
          {% endfor %}
        </em>


      {% endfor %}
    
    {% endif %}
    
    {{ standard_footer_includes }}
  </body>
</html>