<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if content.html_title %}<title>{{ content.html_title }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">
    {% if brand_settings.primaryFavicon.src %}
      <link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />
    {% endif %}
    {{ standard_header_includes }}
  </head>
  <body>
  {# Step 1 add the required js #}
  
  {# Step 2 Add a button tag with an ID of getMoreBooks and add an event listener to call fetchBooks when the user clicks on the button. #}
    
     
    {{ standard_footer_includes }}

  </body>
</html>
